<!DOCTYPE html>
<html>
<head>
  <title>Duck</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="banner">
		<div id="logo">
		</div>
	<div id="login">
		<%= link_to 'Record Score', 'http://web3.golfsoftware.net/10392/', :target => '_blank'%>
		<%= link_to '#1 Live View', 'http://dlcc.dyndns.org:10000/view/viewer_index.shtml?id=12', :target => '_blank' %><br />
	<h1>Online Clubhouse</h1>
	<p style="clear:both; font-size:x-small; font-style:italic;">Members: Enter your login and password below</p>
	<p id="notice"><%= notice %></p>
		<% if current_user %>
		<p><%= current_user.name %>(<%= current_user.admin_level %>) logged in</p>
		<p><%= link_to 'Logout', logout_path %></p>
		<% else %>
		<%= form_for(@user_session) do |f| %>
	  		<%= f.label :login %>
	  		<%= f.text_field :login, :autofocus => 'autofocus' %>
	  		<%= f.label :password %>
	  		<%= f.password_field :password %>
	  		<%= f.submit "Login" %>
		<% end %>
		<% end %>
	</div>
	<%= render "/layouts/admin_nav" %>
	</div>
	<div id="wrapper">
<nav id="mainNav">
	<%= render "/layouts/main_nav" %>
</nav>
<%= yield %>
<div id="leftCol">
	<% unless @current_controller == 'dash' %>
	<%= content_for?(:leftCol) ? yield(:leftCol) : render("/layouts/boilerplate") %>
	<% end %>
</div>
<div id="footer">
	<h1>Duck Lake Country Club</h1>
	<p>2827 Country Club Way, Albion MI 49224</p>
	<p>(517) 629-9015</p>
</div>
</div><!-- end wrapper -->
<%= yield(:javascript) %>
</body>
</html>
